<div class="middle-col">
    <h1 style="text-align: center; margin-bottom: 1em;">{{title}}</h1>
    {{#if product}}
    <div class="brand-col">
        <img onerror="this.src='/images/placehold.jpg'" src={{product.img_url}}>
        <h1>{{product.name}}</h1>
        <h2>£{{product.price}}</h2>
        <h3>Brand: <a style="font-weight: 300; text-decoration: none;" href={{product.brand.url}}>{{product.brand.name}}</a></h3>
        <h3>Category: <a style="font-weight: 300; text-decoration: none;" href={{product.category.url}}>{{product.category.name}}</a></h3>
    </div>
    <h2 style="margin-top: 2em; text-align: center;">Are you sure you want to delete this product?</h2>
    <form class="delete-form" action='{{product.url}}/delete' method="POST">
        <input type='hidden' name='productid' required='true' value={{product._id}}>
        <button type="submit" style="display: inline-block; margin: auto;">Delete</button>
    </form>
    {{/if}}
</div>